page-login {

    .login-content {
        background-image: url("https://previews.123rf.com/images/ssstocker/ssstocker1511/ssstocker151100032/48139987-Kindergarten-Children-playing-in-kinder-garden-Vector-illustration-Stock-Vector.jpg");
        background-color: #cccccc;
        background-repeat: no-repeat;
        height: 100%;
        opacity: 0.2;
        // width: auto;
    }

    form {
        margin-bottom: 32px;
        button {
            margin-top: 20px;
        }
    }

    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    ion-label {
        margin-left: 5px;
    }

    ion-input {
        padding: 5px;
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
        border-bottom: 0 !important;
    }

}



/*
page-login {

  .login-content {
    background: #56CA96;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background: #399F8B;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }

     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }

}
*/
