
page-login {
  .login-content {
    background-image: url("../img/login1.jpg");
    background-size: cover;
  }

  .login-popup-div {

    position: absolute;
    bottom: 10%;
    width: 100%;
    padding-right: 10%;

    button {
      border-color: white;
      color: white;
      border-radius: 30px;
      width: 100%;
      border-width: medium;
    }

    .button-inner {
      font-weight: bold;
      font-size: 130%;
    }
  }
}

.login-alert{
  color: red;
  button{
    color: red;
  }
}
