
page-branch-admin-school-details {
  .avatar-class {
    width: auto;
    max-height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
  }

  .school-add-circle-icon {
    color: green;
    font-size: 300%;
    display: block;
    z-index: 2;
    margin-left: auto;
    text-align: center;
    margin-bottom: 10px;
  }

  img.image-on-top {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
  }

  .classes-title {
    text-align: center;
    display: block;
  }

  .teachers-title {
    text-align: center;
    display: block;
  }

  .teacher-thumbnail {
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin: 0 auto;
  }

  .teacher-add-circle-icon {
    color: green;
    font-size: 300%;
    display: block;
    z-index: 2;
    margin-left: auto;
    text-align: center;
    margin-bottom: 10px;
  }

  .section{
    margin-bottom: 80px;
  }

  .section-title{
    background-color: #fbfbfb;
  }
}