
.teacherHome__student-list {
  border: solid #d9d9d9;
  text-align: center;
}

.teacherHome__menuFlexContainer {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.teacherHome__menuFlexItem {
  padding: 5px;
  width: 30%;
  max-width: 120px;
  margin-top: 10px;
  border: solid;

  font-weight: bold;
  text-align: center;

  ion-icon {
    font-size: 5em;
  }
}
