<ion-grid class="view-photo-component">
   <ion-row>
      <ion-card class="viewed-photo">
         <img [src]="photo.imgUrl" center class="center">
      </ion-card>
   </ion-row>

   <ion-row *ngIf="!!isStudentTaggedDictionary">
      <ion-col col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2 *ngFor="let student of students | async">
         <ion-item no-lines>
            <ion-icon *ngIf="isStudentTaggedDictionary[student.id]" class='tag-student-icon' name="ios-add-circle"
                      isActive="true" (click)="untagStudent(student.id)"></ion-icon>
            <ion-icon *ngIf="!isStudentTaggedDictionary[student.id]" class='tag-student-icon' name="ios-add-circle"
                      isActive="false" (click)="tagStudent(student.id)"></ion-icon>
            <ion-avatar>
               <img [src]='student?.profileImageUrl'>
            </ion-avatar>
            <h2 class="studentNameSurname">{{student.studentName}} {{student.studentSurname}}</h2>
         </ion-item>
      </ion-col>
   </ion-row>
   <ion-row *ngIf="role=='teacher'">
      <ion-item>
         <ion-label>{{"Album" | translate}}</ion-label>
         <ion-select [(ngModel)]="selectedAlbumId" (ngModelChange)="onSelectedAlbumChange($event)">
            <ion-option [value]="''"></ion-option>
            <ion-option *ngFor="let album of allAlbums | async" [value]="album.id">{{album.name}}</ion-option>
         </ion-select>
      </ion-item>
   </ion-row>

</ion-grid>