node_modules/
www/build/
www/assets/
www/index.html
platforms/
plugins/
.DS_Store
.editorconfig
.idea/
npm-debug.log
pages_old/add-parent/add-parent.html
pages_old/add-parent/add-parent.scss
pages_old/add-parent/add-parent.ts
pages_old/albums/albums.html
pages_old/albums/albums.scss
pages_old/albums/albums.ts
pages_old/attendance/attendance.html
pages_old/attendance/attendance.scss
pages_old/attendance/attendance.ts
pages_old/calender/calender.html
pages_old/calender/calender.scss
pages_old/calender/calender.ts
pages_old/daily-parent-feedback/daily-parent-feedback.html
pages_old/daily-parent-feedback/daily-parent-feedback.scss
pages_old/daily-parent-feedback/daily-parent-feedback.ts
pages_old/daily-teacher-feedback/daily-teacher-feedback.html
pages_old/daily-teacher-feedback/daily-teacher-feedback.scss
pages_old/daily-teacher-feedback/daily-teacher-feedback.ts
pages_old/gallery/gallery.html
pages_old/gallery/gallery.scss
pages_old/gallery/gallery.ts
pages_old/homes/branch-admin-home/branch-admin-home.html
pages_old/homes/branch-admin-home/branch-admin-home.scss
pages_old/homes/branch-admin-home/branch-admin-home.ts
pages_old/homes/parent-home/parent-home.html
pages_old/homes/parent-home/parent-home.scss
pages_old/homes/parent-home/parent-home.ts
pages_old/homes/school-admin-home/school-admin-home.html
pages_old/homes/school-admin-home/school-admin-home.scss
pages_old/homes/school-admin-home/school-admin-home.ts
pages_old/homes/teacher-home/teacher-home.html
pages_old/homes/teacher-home/teacher-home.scss
pages_old/homes/teacher-home/teacher-home.ts
pages_old/homeworks/homeworks.html
pages_old/homeworks/homeworks.scss
pages_old/homeworks/homeworks.ts
pages_old/invite-others/invite-others.html
pages_old/invite-others/invite-others.scss
pages_old/invite-others/invite-others.ts
pages_old/message/message.html
pages_old/message/message.scss
pages_old/message/message.ts
pages_old/register/register.html
pages_old/register/register.scss
pages_old/register/register.ts
pages_old/reset-password/reset-password.html
pages_old/reset-password/reset-password.scss
pages_old/reset-password/reset-password.ts
pages_old/school-admin-add-update-branch/school-admin-add-update-branch.html
pages_old/school-admin-add-update-branch/school-admin-add-update-branch.scss
pages_old/school-admin-add-update-branch/school-admin-add-update-branch.ts
pages_old/school-admin-add-update-class/school-admin-add-update-class.html
pages_old/school-admin-add-update-class/school-admin-add-update-class.scss
pages_old/school-admin-add-update-class/school-admin-add-update-class.ts
pages_old/school-admin-add-update-school/school-admin-add-update-school.html
pages_old/school-admin-add-update-school/school-admin-add-update-school.scss
pages_old/school-admin-add-update-school/school-admin-add-update-school.ts
pages_old/school-admin-add-update-student/school-admin-add-update-student.html
pages_old/school-admin-add-update-student/school-admin-add-update-student.scss
pages_old/school-admin-add-update-student/school-admin-add-update-student.ts
pages_old/school-admin-add-update-teacher/school-admin-add-update-teacher.html
pages_old/school-admin-add-update-teacher/school-admin-add-update-teacher.scss
pages_old/school-admin-add-update-teacher/school-admin-add-update-teacher.ts
pages_old/school-admin-branches/school-admin-branches.html
pages_old/school-admin-branches/school-admin-branches.scss
pages_old/school-admin-branches/school-admin-branches.ts
pages_old/school-admin-class-details/school-admin-class-details.html
pages_old/school-admin-class-details/school-admin-class-details.scss
pages_old/school-admin-class-details/school-admin-class-details.ts
pages_old/school-admin-classes/school-admin-classes.html
pages_old/school-admin-classes/school-admin-classes.scss
pages_old/school-admin-classes/school-admin-classes.ts
pages_old/school-admin-edit-branch/school-admin-edit-branch.html
pages_old/school-admin-edit-branch/school-admin-edit-branch.scss
pages_old/school-admin-edit-branch/school-admin-edit-branch.ts
pages_old/school-admin-edit-class/school-admin-edit-class.html
pages_old/school-admin-edit-class/school-admin-edit-class.scss
pages_old/school-admin-edit-class/school-admin-edit-class.ts
pages_old/school-admin-edit-school/school-admin-edit-school.html
pages_old/school-admin-edit-school/school-admin-edit-school.scss
pages_old/school-admin-edit-school/school-admin-edit-school.ts
pages_old/school-admin-edit-teacher/school-admin-edit-teacher.html
pages_old/school-admin-edit-teacher/school-admin-edit-teacher.scss
pages_old/school-admin-edit-teacher/school-admin-edit-teacher.ts
pages_old/school-admin-schools/school-admin-schools.html
pages_old/school-admin-schools/school-admin-schools.scss
pages_old/school-admin-schools/school-admin-schools.ts
pages_old/school-admin-students/school-admin-students.html
pages_old/school-admin-students/school-admin-students.scss
pages_old/school-admin-students/school-admin-students.ts
pages_old/school-admin-teacher-details/school-admin-teacher-details.html
pages_old/school-admin-teacher-details/school-admin-teacher-details.scss
pages_old/school-admin-teacher-details/school-admin-teacher-details.ts
pages_old/school-admin-teachers/school-admin-teachers.html
pages_old/school-admin-teachers/school-admin-teachers.scss
pages_old/school-admin-teachers/school-admin-teachers.ts
pages_old/test/test.html
pages_old/test/test.scss
pages_old/test/test.ts
pages_old/weekly-activity-plan/weekly-activity-plan.html
pages_old/weekly-activity-plan/weekly-activity-plan.scss
pages_old/weekly-activity-plan/weekly-activity-plan.ts
pages_old/weekly-menu/weekly-menu.html
pages_old/weekly-menu/weekly-menu.scss
pages_old/weekly-menu/weekly-menu.ts
