
.page-teacher-album {
  .studentNameSurname{
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
  }

  .teacherHome__studentButton {
    margin: 10px auto;
  }

  .teacherHome__studentButton--selected {
    background: greenyellow;
  }

  .teacherHome__student-list {
    border: solid #d9d9d9;
    text-align: center;
    margin-top: 10px;
    background: white;
  }

  .teacherHome__student-list-container{
    max-width: 120px;
  }

}
