<ion-header>
  <ion-navbar>
    <ion-title>
        {{"Class: " | translate}}{{(_class | async)?.name}}
    </ion-title>
      <ion-buttons *ngIf="userRole=='developer' || userRole=='branch-admin'
                   || userRole=='school-admin' || userRole=='teacher'" end>
          <button ion-button end (click)="openSchoolAdminEditClassPage(classId)">{{"Edit" | translate}}</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="page-school-admin-class-details">
    <ion-grid>
        <ion-row>
            <ion-col width-25>{{"Age" | translate}}</ion-col>
            <ion-col>{{(_class | async)?.age}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-25>{{"Capacity" | translate}}</ion-col>
            <ion-col>{{(_class | async)?.current}}/{{(_class | async)?.maximum}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-25>{{"TeacherStr" | translate}}</ion-col>
            <ion-col>{{teacherName}}</ion-col>
        </ion-row>
        <ion-row *ngIf="userRole=='developer' || userRole=='branch-admin'
                   || userRole=='school-admin' || userRole=='teacher'">
            <ion-buttons>
                <button ion-button end (click)="openSchoolAdminClassWall(classId)">{{"Class Wall" | translate}}</button>
            </ion-buttons>
        </ion-row>

    </ion-grid>

    <h1 *ngIf="userRole=='developer' || userRole=='branch-admin'
                   || userRole=='school-admin' || userRole=='teacher'"
        class="parents-title">{{"Students" | translate}}</h1>

    <ion-list *ngIf="userRole=='developer' || userRole=='branch-admin'
                   || userRole=='school-admin' || userRole=='teacher'">
        <button ion-item *ngFor="let parent of parentsOfClass | async" (click)="openParentPage(parent.$key)">
            <div item-left>
                <img class="parent-thumbnail" src="{{parent?.profileImageUrl}}"/>
            </div>
            <div>
                <p>{{parent?.studentName}}</p>
                <p>{{parent?.studentSurname}}</p>
            </div>
        </button>
    </ion-list>

    <ion-icon *ngIf="userRole=='developer' || userRole=='branch-admin'
                   || userRole=='school-admin' || userRole=='teacher'"
              class="parent-add-circle-icon" ios="ios-add-circle" md="md-add-circle" (click)="openAddParent()"></ion-icon>
    <!--<ion-list>-->
        <!--<button ion-item *ngFor="let school of allSchoolsOfTeacher | async" (click)="openSchoolPage(school.$key)">-->
            <!--<div>-->
                <!--&lt;!&ndash;ion-item&ndash;&gt;-->
                <!--<h2>{{school.name}}</h2>-->
                <!--<p>{{school.managerName}}</p>-->
                <!--<p>{{school.managerTel}}</p>-->
            <!--</div>-->

            <!--<div item-right>-->
                <!--<p>{{school.buildingAddress}}</p>-->
                <!--<p>{{school.schoolTelephone}}</p>-->
            <!--</div>-->
        <!--</button>-->
    <!--</ion-list>-->

</ion-content>
