
<p>school list directive</p>

<!--<ion-list>-->
  <!--<ion-card *ngFor="let item of schools">-->
    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<div class="my-col-3">-->
          <!--<div class="avatar-class">-->
            <!--<img src="{{item.logoURL}}">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="my-col-9">-->
          <!--<h2>{{item.name}}</h2>-->
          <!--<h3>{{item.manager}}</h3>-->
          <!--<p>{{item.manager_tel}}</p>-->
        <!--</div>-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
  <!--</ion-card>-->
<!--</ion-list>-->
