
.teacherAttendance__student-list {
  display: flex;
  border: solid #d9d9d9;
  text-align: center;
  margin-top: 10px;
  background: white;
}

.teacherAttendance__studentButton {
  margin: 10px auto;
}

.teacherAttendance__icon {

}

.teacherAttendance__icon--selected {
  background-color: yellow;
}
