.parent-weekly-activities-component {
  .activity-image{
    font-size: 400%;
    border: solid;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
  }

  .activity-name{
    text-align: center;
  }
}
