.page-school-admin-teacher-details {
    .school-add-circle-icon {
        color: green;
        font-size: 300%;
        display: block;
        z-index: 2;
        margin-left: auto;
        text-align: center;
        margin-bottom: 10px;
    }

    img.image-on-top{
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }


    //.schools-title {
    //    text-align: center;
    //    display: block;
    //}
}
