
<ion-header>

  <ion-navbar>
    <ion-title>{{"Branch Admin Home Page" | translate}}</ion-title>
    <ion-buttons logout-button-directive end></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="row-25">
    <ion-col *ngIf="doesUserHasBranch" width-33 (click)="openMyBranch()">{{"My Branch" | translate}}</ion-col>
    <ion-col (click)="openMessages()" width-33>{{"Message" | translate}}</ion-col>
  </ion-row>
  <ion-row class="row-25">
    <ion-col *ngIf="(doesUserHasBranch==false)" width-33 (click)="createMyBranch()">{{"Create My Branch" | translate}}</ion-col>
  </ion-row>

</ion-content>
