page-invite-others {

    .invite-others-circle-icon {
        color: green;
        font-size: 300%;
        display: block;
        z-index: 2;
        margin-left: auto;
        text-align: center;
        margin-bottom: 10px;
    }
}
