.page-school-admin-schools {
    .school-add-circle-icon {
        color: green;
        font-size: 300%;
        display: block;
        z-index: 2;
        margin-left: auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .school-thumbnail{
        max-width: 80px;
        max-height: 80px;
        display: block;
        margin: 0 auto;
    }

    img.image-on-top{
        max-width: 400px;
        max-height: 400px;
        display: block;
        margin: 0 auto;
    }

    .schools-title {
        text-align: center;
        display: block;
    }
}
