.parent-weekly-meal-menu-component {
  .meal-image{
    font-size: 400%;
    border: solid;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
  }

  .meal-name{
    text-align: center;
  }
}
