<ion-card class="section">
   <ion-avatar>
      <img class="avatar-class" src="{{(school).logoURL}}"/>
   </ion-avatar>
   <ion-item>
      <button ion-button color="light" (click)="newPhoto()">{{"New Photo" | translate}}</button>
   </ion-item>

   <form *ngIf='!!schoolDetailsForm' [formGroup]="schoolDetailsForm">
      <ion-list>
         <ion-item>
            <ion-label stacked>{{"Name" | translate}}</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"Building Address" | translate}}</ion-label>
            <ion-input type="text" formControlName="buildingAddress"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"Manager Name" | translate}}</ion-label>
            <ion-input type="text" formControlName="managerName"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"Manager Tel" | translate}}</ion-label>
            <ion-input type="text" formControlName="managerTel"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"Activation Email" | translate}}</ion-label>
            <ion-input type="text" formControlName="activationEmail"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"School Telephone" | translate}}</ion-label>
            <ion-input type="text" formControlName="schoolTelephone"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"Second Contact Person Name" | translate}}</ion-label>
            <ion-input type="text" formControlName="secondContactPersonName"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"Second Contact Person Tel" | translate}}</ion-label>
            <ion-input type="text" formControlName="secondContactTelNo"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label>{{"Activated" | translate}}</ion-label>
            <ion-select formControlName="isActivated">
               <ion-option [value]="True">{{"True" | translate}}</ion-option>
               <ion-option [value]="False">{{"False" | translate}}</ion-option>
            </ion-select>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"membershipEnd" | translate}}</ion-label>
            <ion-input type="text" formControlName="membershipEnd"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label stacked>{{"membershipStart" | translate}}</ion-label>
            <ion-input type="text" formControlName="membershipStart"></ion-input>
         </ion-item>
      </ion-list>

      <ion-buttons class="update-branch-button">
         <button ion-button block (click)="updateSchoolButtonClicked()">
            {{'Update School' | translate}}
         </button>
      </ion-buttons>
   </form>
</ion-card>

<ion-card class="section">
   <h1 class="classes-title section-title">{{"Classes" | translate}}</h1>

   <ion-list>
      <button ion-item *ngFor="let _class of listedClasses" (click)="openClassPage(_class)">
         <div>
            <!--ion-item-->
            <h2>{{_class.name}}</h2>
            <p>{{"Age" | translate}}: {{_class.age}}</p>
            <p>{{"Capacity" | translate}}: {{_class.current}}/{{_class.maximum}}</p>
         </div>

         <!--<div item-right>-->
         <!--<p>{{(getTeacher(_class?.teacher_id) | async).name}}</p>-->
         <!--&lt;!&ndash;<p>{{_class._classTelephone}}</p>&ndash;&gt;-->
         <!--</div>-->
      </button>
   </ion-list>

   <ion-buttons class="add-class-button">
      <button ion-button block (click)="addClassButtonClicked()">
         {{'Add Class' | translate}}
      </button>
   </ion-buttons>
</ion-card>

<ion-card class="section">
   <h1 class="teachers-title section-title">{{"Teachers" | translate}}</h1>

   <ion-list>
      <button ion-item *ngFor="let teacher of listedTeachers | async" (click)="openTeacherPage(teacher.$key)">
         <div item-left>
            <img class="teacher-thumbnail" src="{{teacher?.profileImageUrl}}"/>
         </div>
         <div>
            <p>{{teacher.name}}</p>
            <p>{{teacher.surname}}</p>
         </div>

         <div item-right>
            <p *ngFor="let _class of getClassesOfTeachers(teacher.$key)">{{_class?.name}}</p>
         </div>
      </button>
   </ion-list>

   <ion-buttons class="invite-teacher-button">
      <button ion-button block (click)="inviteTeacherButtonClicked()">
         {{'Invite Teacher' | translate}}
      </button>
   </ion-buttons>
</ion-card>