page-school-admin-teachers {
    .teacher-add-circle-icon {
        color: green;
        font-size: 300%;
        display: block;
        z-index: 2;
        margin-left: auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .teacher-thumbnail{
        max-width: 80px;
        max-height: 80px;
        display: block;
        margin: 0 auto;
    }

    button {
        border-bottom: solid;
    }
}
