<ion-header>

  <ion-navbar>
    <ion-title>{{"School Admin Teachers" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <button ion-item *ngFor="let teacher of allTeachers | async" (click)="openTeacherPage(teacher.$key)">
            <div item-left>
                <img class="teacher-thumbnail" src="{{teacher.profileImageUrl}}"/>
            </div>
            <div>
                <p>{{teacher.name}}</p>
                <p>{{teacher.surname}}</p>
            </div>

            <div item-right>
                <p *ngFor="let _class of getClassesOfTeachers(teacher.$key)">{{_class?.name}}</p>
            </div>
        </button>
    </ion-list>

    <!--<ion-icon class="teacher-add-circle-icon" ios="ios-add-circle" md="md-add-circle" (click)="openSchoolAdminAddUpdateTeacher(p)"></ion-icon>-->
</ion-content>
