<ion-header>

  <ion-navbar>
    <ion-title>{{"School Admin Teachers" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <button ion-item *ngFor="let teacher of allTeachers" (click)="openTeacherPage(teacher.$key)">
            <div item-left>
                <p>{{teacher.name}}</p>
                <p>{{teacher.surname}}</p>
            </div>

            <!--<div>-->
                <!--<p *ngFor="let branch of item.branches">{{branch}}</p>-->
            <!--</div>-->

            <div item-right>
                <p *ngFor="let _class of teacher.classes">{{(_class | async)?.name}}</p>
            </div>
        </button>
    </ion-list>

    <ion-icon class="teacher-add-circle-icon" ios="ios-add-circle" md="md-add-circle" (click)="openSchoolAdminAddUpdateTeacher(p)"></ion-icon>
</ion-content>
