<ion-header>

  <ion-navbar>
    <ion-title>school-admin-teachers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <button ion-item *ngFor="let item of teachers">
            <div item-left>
                <p>{{item.name}}</p>
                <p>{{item.surname}}</p>
            </div>

            <div>
                <p *ngFor="let branch of item.branches">{{branch}}</p>
            </div>

            <div item-right>
                <p *ngFor="let class of item.classes">{{class}}</p>
            </div>
        </button>
    </ion-list>

    <ion-icon class="teacher-add-circle-icon" ios="ios-add-circle" md="md-add-circle"></ion-icon>
</ion-content>
