
.parentAttendance__student-list {
  display: flex;
  border: solid #d9d9d9;
  text-align: center;
  margin-top: 10px;
  background: white;
}

.parentAttendance__studentButton {
  margin: 10px auto;
}

.parentAttendance__icon {

}

.parentAttendance__icon--selected {
  background-color: yellow;
}
